<div class="col-md-12">
	<div class="jumbotron">
		<h1>ShelfCloud</h1>
		<p>Track your stuff. Manage inventory. <span class="text-red">Keep it simple.</span></p>
		<p><%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %></p>
	</div>
</div>